


.profile-background{
    background: url('../img/black-and-white-city-night.png');
    height: 380px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    /* display: flex; */
    align-items: center;
    z-index: 1;
    border-bottom: 2px solid var(--main);
    box-shadow: 0 0 0 0.2rem var(--main);
}
/* ------------- Start Profile-content   ----------------*/
.profile-body{
    margin-top: 20px;
}

.profile-content{
    background-color:var(--white);
    position: relative;
    z-index: 3;
    margin: -63px 80px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.personal-info{
    margin: 0 0 2%;

}

.personal-info .under-line{
    border-bottom: 1px solid #ccc;

}
.personal-info .Avatar 
{
    position: relative;
    max-width: 160px;
    width: 100%;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    transform: translate3d(0,-50%,0);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ccc;
    /* font-size: 1.7em; */
    border: 2px solid #ccc;
    
}
.personal-info .Avatar .ChangePic
{
    position: absolute;
    top: 95px;
    left: 180px;
    cursor: pointer;
    color: var(--main);
    /* box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2); */
}
.personal-info .Avatar .ChangePic label
{
 cursor: pointer;
 margin: 0;
 background-color: transparent;
 width: 90px;
}
.personal-info .Avatar .image-preview__image{
    /* max-width: 160px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%; */
    /* transform: translate3d(0,-50%,0); */
    display: none;
    width: 100%;
    border-radius: 50%;
    
}

.personal-info .profile-name{
    margin-top: -80px;
    cursor: default;
}

.personal-info .profile-name h3{
    /* word-wrap: break-word; */
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.personal-info .profile-name h2 input{
    text-align: center;
    border: 0;
}
.personal-info .profile-name h2 input:disabled
{
 background-color: transparent;
 color: #010101;
}

.personal-info .profile-name input
{
    text-align: center;
    border: 0;
    width: 50%;
}
.personal-info .profile-name input:disabled{
    background-color: transparent;
    color: #010101;
    font-weight: bold;
}
.personal-info .account-details ul li{
    position: relative;
    width: 34%;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.personal-info .account-details ul li:last-child{
    border: 0;
}
.personal-info .account-details ul li p
{
   font-weight: bold;
   text-transform: capitalize;
   cursor: default;
}
.personal-info .account-details ul li p:hover{
    color: var(--main);
}

.personal-info .account-details ul li input
{
   font-weight: bold;
   cursor: default;
   width: 50%;
   text-align: center;
   border: none;
}
.personal-info .account-details ul li input:disabled
{
  font-weight: bold;
  background-color: transparent;
  color: #010101;
}


/* ----------- Start Sidebar-Information!!!! --------------------------------------- */

.sidebar-info ul:first-child {
    border-right: 1px solid #ccc;
    cursor: default;
    list-style: none;
}
.sidebar-info ul:first-child li:first-child button
{
    border: 0;
    background: transparent;
    width: 100%;
    padding: .75rem 1.25rem;
    text-align: left;
}

.sidebar-info ul:first-child li:nth-child(2) button{
    display: none;
    border: 0;
    width: 100%;
    padding: .75rem 1.25rem;
}
.sidebar-info ul:first-child li:first-child button:hover
{
    background-color: var(--mainHover);
    color: var(--light);
    border-top-left-radius: 5px;
    cursor: pointer;
}
.sidebar-info ul:first-child li:nth-child(2) button:hover
{
    background-color: transparent;
    color: var(--primary);
    border-top-left-radius: 5px;
    cursor: pointer;
}
.sidebar-info ul:first-child li:first-child button:focus,
.sidebar-info ul:first-child li:nth-child(2) button:focus
{
    outline: none;
}

.sidebar-info ul li svg{
    width: 23px;
    height: 23px;
    margin-right: 6px;
    /* color: var(--main); */
}
.sidebar-info ul li input
{
    padding: 2px;
    border:2px solid #a6c7ff;
    background-color:(rgb(84, 84, 84), rgb(170, 170, 170));
}

.sidebar-info ul li input:disabled
{
    border: 0;
    background-color: transparent;
}

.sidebar-info ul li:last-child span {
    margin-bottom: 9px;
    display: inline-block;
}
.sidebar-info ul li ul li{
    transition: all 0s ease-in-out;
    cursor: pointer;
}
.sidebar-info ul li ul li:hover{
    background-color: var(--main);
    color: var(--light);
    border-top-left-radius: 5px;
    /* padding-left:5px; */
}
/* ----------- END Sidebar-Information!!!! --------------------------------------- */


.profile-body #addProduct
{
    width: 91%;
    margin: 0 30px;
}


/* --------------------------






     editProduct.css








       --------------------          */



.profile-content .profile-body .post-area{
    /* background: #ccc; */
    /* background: rgba(0, 0, 0, 0.1); */
    position: relative;
    z-index: 3;
    margin: 0 30px 15px;
    border-radius: 6px;
}

.profile-content .profile-body .post-area .post-body{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.325);
    border-radius: .25rem;
    width: 100%;
    padding: 10px;  
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.profile-content .profile-body .post-area .post-body .making-post-info,
.profile-content .profile-body .post-area .post-body .post-info
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 10px;
}
.profile-content .profile-body .post-area .post-body .making-post-info span{
    cursor: default;
}
.profile-content .profile-body .post-area .post-body .post-info a{
    text-decoration: none;
    color: var(--textBlack);
}
.profile-content .profile-body .post-area .post-body .making-post-info img,
.profile-content .profile-body .post-area .post-body .post-info a img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-content .profile-body .post-area .post-body .making-post-info span,
.profile-content .profile-body .post-area .post-body .post-info a span
{
    font-weight: bold;
    border-left: 1px solid #ccc;
    padding-left: 10px;

}

.profile-content .profile-body .post-area .post-body .making-post-info a:hover,
.profile-content .profile-body .post-area .post-body .post-info a:hover
{
    color: var(--main);
    cursor: pointer;
}
.profile-content .profile-body .post-area .post-body .making-post-info a:focus,
.profile-content .profile-body .post-area .post-body .post-info a:focus{
 outline: none;
 box-shadow: none;
 color: var(--main);
}

.profile-content .profile-body .post-area .post-body .making-post-info .card,
.profile-content .profile-body .post-area .post-body .post-info .card
{
    border: 0;
}

.profile-content .profile-body .post-area .post-body .post-info .card ul li
{
    list-style: none;
}

.profile-content .profile-body .post-area .post-body .making-post-info .card li{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-right: 1px solid #ccc;
}
.profile-content .profile-body .post-area .post-body .making-post-info .card li:last-child{
    border: none;
}

.profile-content .profile-body .post-area .post-body .making-post-info .card li input[type="radio"]
{
    display: none;
}
.profile-content .profile-body .post-area .post-body .making-post-info .card li label{
    
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}
.profile-content .profile-body .post-area .post-body .making-post-info .card li span
{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--main);
    display: block;
    position: absolute;
    left: 0;
    top: 14px;
    margin: 0 6px;
}

.profile-content .profile-body .post-area .post-body .making-post-info .card li span::after
{
    content: "";
    height: 8px;
    width: 8px;
    background: var(--main);
    display:block;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}

.profile-content .profile-body .post-area .post-body .making-post-info .card li input[type="radio"]:checked ~ span:after
{
    transform: translate(-50%,-50%) scale(1);
}


.profile-content .profile-body .post-area .post-body textarea
{
    margin-left: 20px;
    border:0;
    width: 98%;
    resize: none;
}
.profile-content .profile-body .post-area .post-body textarea:focus
{
   outline: none;
}
.profile-content .profile-body .post-area .post-body input
{
    margin-left: 20px;
    border: 0;
    border-bottom: 1px solid #ccc ;
    /* text-align: center; */
}
.profile-content .profile-body .post-area .post-body input:focus
{
  border: 1px solid #a6c7ff;
  outline: none;
}
.profile-content .profile-body .post-area .post-body p
{
    margin-left: 20px;
    border:0;
}


.profile-content .profile-body .post-area .post-body .photoUpload,
.profile-content .profile-body .post-area .post-body .post{
    padding: 5px;
}

.profile-content .profile-body .post-area .post-body .post-height{
    height: 300px;
    width: 100%;
}
    
.profile-content .profile-body .post-area .post-body .post img
{
    width: 100%;
    height: 100%;
}

.profile-content .profile-body .post-area .post-body .post-actions{
    width: 100%;
    border-top: 1px solid #212529;
    margin-top: 5px;
    padding-top: 11px;
}

.profile-content .profile-body .post-area .post-body .post-actions button{
    margin-right: 5px ;
    
}

.profile-content .profile-body .post-area .post-body .post-actions button:focus{
    outline: none;
    box-shadow: none;
}

.profile-content .profile-body .post-area .post-body .post-actions button:focus:last-child{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 8px;
}

.profile-content .profile-body .post-area .post-body .post-actions button:focus:first-child{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 8px;
}


/* ----------------- Start Responsive -------------------- */



@media(max-width:800px){
    .profile-content{
       margin-right: 5px;;
        margin-left: auto;
        
       
    }
    
    .profile-content .post-area{
        margin-left: 4px;
        margin-top: 20px;
        box-shadow: 5px 5px 10px #ccc;
        
    }
    
    .list-group .list-group-flush {
        text-align: center;
    }
    

 
    
}

.profile-content .post-area .post-body .post-actions button{
    padding: 8px;
    width: 150px;
    margin-right: 21px;
   
}