/* ------------- Start navbar ----------------*/
.navbar{
    background-color: var(--main);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999999999999;
}
.navbar .navbar-brand img{
   width: 33px;
 
}
.navbar a{
    color: var(--light);
}

.navbar .dropdown svg{
  color: var(--light);
}
.navbar .dropdown .dropdown-menu a{
    color: #666;
}

.navbar ul li:nth-child(1):hover,
.navbar ul li:nth-child(2):hover,
.navbar ul li:nth-child(3):hover,
.navbar ul li:nth-child(4):hover{
    background-color: var(--mainHover);
}

.navbar ul li:nth-child(3){
    margin-left: 9px;
    width:23%;
}

.navbar ul li:nth-child(3) img{
    width: 18%;
    /* height: 50px; */
    border-radius: 50%;
}
.navbar ul li:nth-child(3) span{
    font-size: 13px;
}

.navbar ul li:nth-child(4) button
{
    color: var(--light);
    height: 100%;
    
}  
.navbar ul li:nth-child(4) button:focus
{
    box-shadow: none;
}
.navbar ul li:nth-child(4) .dropdown-menu
{
    text-align: center;
    background-color: var(--main);
    border-radius: 11px;
    
}
.navbar ul li:nth-child(4) a
{
    color: var(--light);
}
.navbar ul li:nth-child(4) a:hover
{
    background-color: var(--mainHover);
}


.navbar ul li button.signup:hover
{
 background-color: Var(--green);
 border-color: var(--green);
 color: var(--light);
 
}

.navbar ul li button.login:hover
{
    background-color: Var(--primary);
    border-color: var(--primary);
    color: var(--light);
}
.navbar ul li button.logout
{
    width: 141px;
    text-align:center;
}
.navbar ul li button.logout svg
{
  margin-top: 1.5px;
}
.navbar ul li button.logout:hover
{
    background-color: Var(--mainHover);
    border-color: var(--light);
    color: var(--light);
}

.navbar form{
    position: relative;
}
.navbar form input{
    background-color: transparent;
    border-bottom: 2px solid var(--light);;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.navbar form input:focus{
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem transparent !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar form input::-webkit-input-placeholder{
    color:var(--light);
}

.navbar form input:focus::-webkit-input-placeholder{
    color:#666
}

.navbar form  svg{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 20px;
    color:var(--light);
    cursor: pointer;
}

.navbar button{
    color: var(--light);
}

/* ------------- End navbar ----------------*/