<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="UTF-8" />
        <!-- IE Compatibility Meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- First Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>log in</title>
        <link rel='stylesheet' href='/assets/login&signup/font-awesome.min.css' />
        <link rel='stylesheet' href='/assets/login&signup/bootstrap.css' />
        <link rel='stylesheet' href='/login/css/pages.css' />  
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'>
        <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
       <!-- Start Section Log-in -->
        
        <section class="log-in text-center">
            
            <div class="fields">
                
                <div class="container">
                    <img src="/login/img/fox logo/fox1.svg" alt="">
                    <h2 class="h1">Amigurumi</h2>
                    <p class="lead"> Login Now!</p>
                    <!-- Start Contact Form -->
                    <div class="row">
                        <% if (errorMessage) { %>
                            <div><%= errorMessage %></div>
                        <% } %>
                        <form role="form"action="/login" method="POST" id="main">
                            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                            <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10 col-xs-offset-1">
                                
                                <div class="form-group">
                                    <input type="email" class="form-control input-lg" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="op"  class="form-control input-lg" name="password" placeholder="password" > <span id="open" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </div>
                                <button type="submit" id="log" class=" butt btn btn-danger btn-lg btn-block">Log in</button>
                    
                            </div>
                    
                        </form>
                        
                        <!-- End Contact Form -->
                    
                    </div>
                    <hr>
                    <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10 col-xs-offset-1"> 
                     <p class="lead"> Don't have a free account yet? </p>
                        <a href="/signup"><button type="submit" class=" butt btn btn-info btn-lg btn-block text-center">Create your account </button> </a>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="../assets/home&profile/js/jquery-3.3.1.min.js"></script>
        <script src="/assets/login&signup/js/bootstrap.min.js"></script>
        <script src="/login/js/test.js"></script>
        <!-- End Section Log-in -->
    
    </body>
</html>